/* default styling. Nothing to do with freexing first row and column */
main {display: flex;}
table {border-collapse: collapse; font-family: helvetica}
td, th {
      padding: 10px;
      min-width: 60px;
      background: rgb(185, 185, 187);
      box-sizing: border-box;
      text-align: left;
}
.table-container {
  position: relative;
  max-height:  300px;
  width: 600px;
  overflow-y: scroll;
}

thead th {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
  background: rgb(88, 87, 87);
}

thead th:first-child {
  left: 0;
  z-index: 3;
}

tfoot {
  position: -webkit-sticky;
  bottom: 0;
  z-index: 2;
}

tfoot td {
  position: sticky;
  bottom: 0;
  z-index: 2;
  background: hsl(0, 0%, 83%);
}

tfoot td:first-child {
  z-index: 3;
}

tbody {
  overflow-y: scroll;
  height: 200px;
}

/* MAKE LEFT COLUMN FIXEZ */
tr > :first-child {
  position: -webkit-sticky;
  position: sticky; 
  background: hsl(214, 60%, 37%);
  left: 0; 
}
/* don't do this */
tr > :first-child {
  box-shadow: inset 0px 1px rgb(183, 183, 184);
}

