{{ attach_library('partner/table-style') }}
<h4>{{ title }}</h4>
<div class="table-container">
  <div class="table-horizontal-container">
    <table class="unfixed-table">
      <thead>
        <tr><th>First name</th><th>Company</th></tr>
      </thead>  
      <tbody>
      Vladimir
	    {% for partner in partners %}
        <tr><th>{{ partner.first_name }}</th><th>{{ partner.company }}</th></tr>
       {% endfor %}
      </tbody>
      </table>
  </div>
</div>

